{% extends "template.html" %}
{% block content %}
	<div class="grid_12 subtitle">
	Thanks to all sources:
	</div>
	<div class='clear'></div>
	<div class="grid_12">
		<ul>
			<li><a href="http://code.google.com/appengine/">Google App Engine</a></li>
			<li><a href="http://code.google.com/p/webapp-improved/">WebApp2</a></li>
			<li><a href="http://jinja.pocoo.org/docs/#">Jinja2</a></li>
			<li>Spoon icon from <a href="http://www.gettyicons.com/free-icon/101/tableware-icon-set/free-spoon-icon-png/">Gettyicons</a></li>
			<li>Banner from ...</li>
		</ul>
	</div>
	<div class='clear'></div>

{% endblock content %}