{% extends "template.html" %}
{% block content %}
   	<h3>Thanks to:</h3>
		<ul>
			<li>
                <a href="http://code.google.com/appengine/"><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" style="height:20px"></a>
            </li>
            <li>
                <a href="http://code.google.com/p/webapp-improved/"><img src="http://code.google.com/p/webapp-improved/logo?cct=1323126743" alt="Powered by WebApp2"  style="height:20px"></a>
            </li>
            <li>             
                <a href="http://jinja.pocoo.org/docs/#"><img src="http://www.pocoo.org/_images/jinja-logo.png" alt="Powered by Jinja2" class="logo" style="height:20px" /></a>
            </li>
            <li>
                Spoon icon from <a href="http://www.gettyicons.com/free-icon/101/tableware-icon-set/free-spoon-icon-png/">Gettyicons</a>
            </li>
            <li>             
                Template from <a href="http://twitter.github.com/bootstrap/" alt="Twitter Bootstrap">Twitter Bootstrap</a>
            </li>
		</ul>


{% endblock content %}