{% extends "template.html" %}
{% block content %}
	<div class="grid_12 subtitle">
		The spoon #{{"{:06d}".format(spoonNumber)}}
	</div>
	<div class='clear'></div>
	<div class="grid_8 spoonImage">
		<img src='/spoonImage?img_id={{spoonKey}}'></img>
	</div>
	<div class="grid_4 form" >
		<p>
		Comment: {{comment}}
		<p/>
		<p>Creation Date: {{"{:%d/%m/%Y}".format(creationDate)}}</p>
	</div>
	
	<div class='clear'></div>
	<div class="grid_12 subtitle separateALot">
		The spoon's life
	</div>
	{% for step in spoonSteps %}
		<div class='clear'></div>
		<hr>
		<div class="grid_4 form spoonStep" >
			<p>
			Comment: {{step.comment}}
			<p/><br />
			<p>
			Place: {{step.place}}
			<p/><br />
			<p>Creation Date: {{"{:%d/%m/%Y}".format(creationDate)}}</p><br />
		</div>
		<div class="grid_8 spoonStepImage">
			<img src='/spoonStepImage?img_id={{step.key()}}'></img>
		</div>
	{% endfor %}

{% endblock content %}