{% extends "template.html" %} {% block content %}
<div class="row">
	<div class="span4">
		<ul class="thumbnails">
			<li class="span4">
				<div class="thumbnail ">
					<img src="http://placehold.it/360x268" alt="Place something more interesting than that">
					<div class="caption">
						<h5>Flying spoon</h5>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="span8 ">
		<form class="form-horizontal" action="/makeMySpoonTravel"
			method="post" enctype="multipart/form-data">
			<fieldset>
				<legend>Make your spoon travel</legend>
				<div class="control-group">
					<label class="control-label" for="initialOwner">You are you?</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="initialOwner" name="initialOwner">
						<p class="help-block">Give us a name, nickname or brief	description</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="comment">Describe the
						spoon</label>
					<div class="controls">
						<textarea class="input-xlarge" id="comment" name="comment" rows="3"></textarea>
						<p class="help-block">Give some comments about this spoon : metal/plastic, colors, age, biography...</p>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="img">Picture</label>
					<div class="controls">
						<input class="input-file" id="img" name='img' type="file">
						<p class="help-block">Valid federal or state-issued photo ID only of your spoon, of course!</p>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">
						<i class="icon-tag"></i> Let's go &raquo;
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock content %}
