{% extends "template.html" %}
{% block content %}
	<div class="grid_12 subtitle">
		Adding a new spoon
	</div>
	<div class='clear'></div>
	<div class="grid_3">
			<img src="/images/spoon.png" />
	</div>
	<div class="grid_9 form">
		<form action="/makeMySpoonTravel" method="post" enctype="multipart/form-data">
			<div>
				<label>Give some comments about this spoon:</label><br/>
				<textarea name="comment" rows="3" cols="60"></textarea>
			</div>
			<div>
				<label>Picture of the spoon:</label>
				<input type="file" name="img" />
			</div>
			<div style="text-align: center; margin-top: 10px">
				<input type="submit" value="Add my spoon" class="button" >
			</div>
		</form>
	</div>
	<div class='clear'></div>
	

{% endblock content %}