<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<link type="text/css" rel="stylesheet" href="/css/main.css" />
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>The Spoon Travel</title>
</head>
<body>
<center>You added a new spoon. Now mark the following message on your spoon : <br\>
<b>Look at this spoon's travel on <i>http://thespoontravel.appspot.com</i>. SpoonNumber: {{spoonNumber}}</b>
</center>
</body>
</html>