{% extends "template.html" %} {% block content %}
<div class="hero-unit">
    <h2>Imminent departure</h2>
    <p>
        <p>Your spoon has checked in our database. Boarding pass is ready. Don't forget to add the following tag to your spoon :</p>
		<p><i>Look at this spoon's travel on <strong>http://thespoontravel.appspot.com</strong>. SpoonNumber: {{("{:06d}").format(spoonNumber)}}<i></p>
        <a class="btn btn-primary btn-large" href="/spoon/{{("{:06d}").format(spoonNumber)}}"><i class="icon-tag icon-white"></i> Let see my spoon page &raquo;</a>
    </p>
</div>
{% endblock content %}
