{% extends "template.html" %} {% block content %}
<div class="row">
	<div class="span5">
		<ul class="thumbnails">
			<!-- Left column -->
			<li class="span5">
				<div class="thumbnail ">
					<!-- Spoon ID card with some stats -->
					<div class="caption">
                        <h5>Spoon #{{"{:06d}".format(spoonNumber)}} tracking sheet</h5>
                    </div>
					
					<p>Comment: {{comment}}<p />
					<p>Creation Date: {{"{:%d/%m/%Y}".format(creationDate)}}</p>
					Google +1
				</div>
			</li>
			<li class="span5">
				<div class="thumbnail ">
					<!-- Spoon picture -->
					<div class="caption">
                        <h5>Traveler's picture</h5>
                    </div>
					<img src='/spoonImage?width=440&img_id={{spoonKey}}' width=""></img>
				</div>
			</li>
			<li class="span5">
				<div class="thumbnail ">
					<!-- Spoon travel map -->
					<div class="caption">
                        <h5>Soon there will be a map here</h5>
                    </div>
				</div>
			</li>
		</ul>
	</div>
	<div class="span7">
		<!-- Right column -->

		{% if not(stepsAvailable) %}
		<div class="alert alert-block">
			<h4 class="alert-heading">Nothing to see here</h4>
			This spoon has not traveled...
		</div>
		{% else %}
		<ul class="thumbnails">
			{% for step in spoonSteps %}
			<li class="span7">
				<div class="thumbnail ">
					<div class="caption">
                        <h5>Seen the {{"{:%d/%m/%Y}".format(step.date)}} @ {{step.place}}</h5>
                    </div>
					<p>{{step.comment}}<p />
					<img src='/spoonStepImage?img_id={{step.key()}}'></img>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>
</div>








{% endblock content %}
