<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% block head %}{% endblock %}
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="The Spoon Travel">
<meta name="author" content="Mamoun El-Mansouri & Maxime Werlen">

<!-- Styles -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/docs.css" rel="stylesheet">
<title>{% block title %}The Spoon Travel{% endblock %}</title>
</head>
<body>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </a> <a class="brand" href="./index.html" muse_scanned="true">The Spoon Travel</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li class="active"><a href="/"><i class="icon icon-white icon-home"></i> Home</a></li>
                        <li><a href="/about#about"><i class="icon icon-white icon-user"></i> About</a></li>
                        <li><a href="/about#contact"><i class="icon icon-white icon-envelope"></i> Contact</a></li>
                        <li><a href="/credits"><i class="icon icon-white icon-list-alt"></i> Credits</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container">


        {% block content %}{% endblock %}

    
        <hr>
    
        <footer>
        <p>
            &copy; The Spoon Travel - All rights reserved - <a href="/credits">Credits </a>
        </p>
        </footer>

    </div>
    <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</body>
</html>