@CHARSET "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Gruppo|Ruluko);

html {
	font-family: 'Ruluko', sans-serif;
}

.title{
	text-align: center;
	font-size: 40px;
	font-family: 'IM Fell French Canon SC', serif;
	margin-bottom: 20px;
}
.titleLink {
	color: black;
	text-decoration: none;
}

.subtitle {
	text-align: center;
	font-size: 28px;
	margin-bottom: 10px;
	font-family: 'Gruppo';
}

.bigImage img{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin-bottom: 10px;
}

.bigText{
	color: #444444;
	background-color: #dedede;
	text-shadow: #fff 0 1px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	margin-bottom: 20px;
	font-family: 'Ruluko', sans-serif;
}
.bigText p{
	padding: 10px;
}

.choosingBox {
	height: 180px;
	color: #767676;
	background: #d8d8de url(/images/case.jpg);
	text-shadow: #fff 0 1px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	font-family: 'Gruppo', cursive;
	font-size: 26px;
	text-align: center;
	font-weight: bold;
}

.choosingBox a {
	text-decoration: none;
	color: #767676;
}
.topChoosingBox form {
	padding-top: 30px;
	margin-bottom: 0px;
	width: 100%
}


.topChoosingBox{
	height: 130px;
	text-align: center;
	vertical-align: middle;
}

.choosingBox:hover{background-position: 0 -180px;}

.form {
	color: #767676;
	background-color: #d8d8de;
	text-shadow: #fff 0 1px 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}
.form form {
	margin: 10px;
}
.form p {
	margin: 10px;
}

.spoonImage {
	vertical-align: middle;
	text-align: center;
}
.spoonStepImage {
	vertical-align: middle;
	text-align: center;
	margin-top: 20px;
}

.spoonStep {
	margin-top: 20px;
}

.separate {
	margin-top: 20px;
}
.separateALot {
	margin-top: 60px;
}
#footer {
	margin-top: 100px;
	border-top: 5px solid #C0C0C8;
	background-color: #19191A;
	padding: 20px 0;
	float: left;
	width: 100%;
	min-width: 960px;
	clear: both;
	display: inline;
	color: #565656;
	height: 20px;
}
#footer #copyright{
	font-size: 20px;
	text-transform: uppercase;
	font-family: monospace;
}


/*------------------------------------------
	Button
------------------------------------------*/

.button {
   border: 1px solid #78838a;
   background: #95abba;
   background: -webkit-gradient(linear, left top, left bottom, from(#78838a), to(#95abba));
   background: -webkit-linear-gradient(top, #78838a, #95abba);
   background: -moz-linear-gradient(top, #78838a, #95abba);
   background: -ms-linear-gradient(top, #78838a, #95abba);
   background: -o-linear-gradient(top, #78838a, #95abba);
   padding: 6.5px 13px;
   -webkit-border-radius: 12px;
   -moz-border-radius: 12px;
   border-radius: 12px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #2b2838;
   font-size: 13px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #728694;
   background: #728694;
   color: #ccc;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }